.company-card {
    width: 20%;
    img {
      width: 100%;
      vertical-align: middle;
    };
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

