#wrapper {
    text-align: center;
}

#NomPrenom {
    font-size: 1.6em; 
    font-weight: 600;
}
 
#Titre {
     font-size: 1.3em; 
     font-weight: 300;
}
 
.Contact {
     font-size: 1.0em; 
     font-weight: 300;
}